.cup
{
    background-color:#000000;
    width:200px;
    height:160px;
    margin-left: 70px;
    border-bottom-right-radius:40px;
    border-bottom-left-radius:40px;
}
.cup::before
{
    content:"";
    border:20px ridge #000000;
    top:8px;
    left:270px;
    position:absolute;
    width:45px;
    height:70px;
    border-top-right-radius:70px;  
    border-bottom-right-radius:70px;
    border-left:none;
}
.cup::after
{
    content:""; 
    background-color:#000000;
    top:175px;
    left:10px;
    position:absolute;
    width:350px;
    height:40px;
    border-bottom-right-radius:40px;
    border-bottom-left-radius:40px;
}
